.card {
    >h2 {
        display: none;
    }

    article {
        padding: 10px;
        border: 1px solid #dcdcdc;

        .columns {
            display: flex;
            justify-content: space-between;

            .column {
                &.column_1 {
                    width: 50%;

                    @media screen and (min-width:$mobile) {
                        padding-right: 10px;
                    }

                    .image {
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        @media screen and (min-width:$mobile) {
                            border-right: 1px solid #dcdcdc;
                        }
                    }
                }

                &.column_2 {
                    width: 50%;

                    .watch {
                        display: flex;
                        padding: 10px;
                        font-weight: bold;
                        margin-bottom: 10px;
                        background-color: #E8E8E8;
                        justify-content: space-between;

                        li {
                            color: $vermelho;
                            text-align: center;

                            &.dot {
                                line-height: 40px;
                            }

                            i {
                                font-size: 30px;
                                font-weight: bold;
                                font-style: normal;

                                @media sreen and (max-width:$mobile) {
                                    font-size: 26px;
                                }
                            }

                            span {
                                text-transform: uppercase;

                                @media sreen and (max-width:$mobile) {
                                    font-size: 11px;
                                }
                            }

                            i,
                            span {
                                display: block;
                            }
                        }
                    }

                    .brand {
                        a {
                            font-size: 12px;
                            font-weight: bold;
                        }
                    }

                    .name {
                        a {
                            display: block;

                            @media screen and (min-width:$mobile) {
                                height: 35px;
                                font-size: 14px;
                                line-height: 17px;
                            }

                            @media screen and (max-width:$mobile) {
                                height: 50px;
                                font-size: 15px;
                                line-height: 17px;
                            }
                        }
                    }

                    .price {
                        margin: 10px 0;
                        min-height: 56px;

                        .de {
                            display: block;
                            color: #7A7A7A;
                            text-decoration-line: line-through;
                        }

                        .parcelas {
                            display: block;
                            font-size: 16px;

                            strong {
                                font-size: 18px;
                                color: $cor-principal;
                            }
                        }

                        .por {
                            font-size: 12px;

                            strong {
                                color: $cor-principal;
                            }
                        }
                    }

                    .no-estoque {
                        color: red;
                    }

                    #add_to_cart {
                        width: 100%;
                        height: 40px;
                        color: #fff;
                        display: flex;
                        padding: 0 15px;
                        font-size: 18px;
                        font-weight: bold;
                        line-height: 40px;
                        align-items: center;
                        background-color: #DD1818;
                        justify-content: space-between;
                    }
                }
            }
        }
    }
}