@keyframes shake {

    10%,
    90% {
        transform: translate3d(0, -4px, 0);
    }

    20%,
    80% {
        transform: translate3d(0, 6px, 0);
    }

    30%,
    50%,
    70% {
        transform: translate3d(0, -8px, 0);
    }

    40%,
    60% {
        transform: translate3d(0, 8px, 0);
    }
}

#cart-lateral {
    top: 0;
    right: 0;
    opacity: 0;
    z-index: 99;
    width: 380px;
    height: 100%;
    position: fixed;
    visibility: hidden;
    transition: opacity 300ms;
    background-color: #F9F9F9;

    &.shake {
        animation: shake 2s cubic-bezier(.36, .07, .19, .97) both;
        transform: translate3d(0, 0, 0);
        perspective: 1000px;

        &:before {
            opacity: 1;
        }
    }

    &.active {
        z-index: 100;

        @media screen and (min-width: $mobile) {
            visibility: visible;
            opacity: 1;
        }

        @media screen and (max-width: $mobile) {
            bottom: 0 !important;

            .header {
                padding: 0;
                color: #666;
                font-size: 18px;
                margin: 0 10px;
                background-color: initial;

                .cart-close {
                    opacity: 1;
                }
            }
        }
    }

    @media screen and (max-width:$mobile) {
        width: 100%;
        height: 100%;
        top: initial;
        bottom: -100%;
        left: 0;
        visibility: visible;
        opacity: 1;
        transition: bottom 300ms;

        &:before {
            content: 'Produto Adicionado na sacola';
            display: block;
            position: absolute;
            top: -50px;
            padding: 10px;
            background: #fff;
            box-shadow: 0 0 16px 0 #999;
            width: 80%;
            left: 50%;
            margin-left: -41%;
            border-radius: 20px;
            text-transform: uppercase;
            font-size: 12px;
            font-weight: 700;
            opacity: 0;
            transition: all .3s .3s;
            text-align: center;
        }
    }

    .columns {
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        position: relative;

        &.loading {
            &:before {
                opacity: 1;
                visibility: visible;
            }
        }

        &:before {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: url(/arquivos/ajax-loader.gif);
            background-repeat: no-repeat;
            background-position: center center;
            content: '';
            z-index: 1;
            background-color: #ffffff61;
            transition: opacity 300ms;
            opacity: 0;
            visibility: hidden;
        }


        >.column_1,
        >.column_2,
        >.column_3 {
            width: 100%;
        }

        >.column_1 {
            .header {
                height: 55px;
                padding: 0 10px;
                background-color: $cor-principal-escuro;

                @media screen and (max-width: $iphone5) {
                    font-size: 16px !important;
                }

                @media screen and (max-width: $mobile) {
                    margin: 0;
                    color: white;
                    font-size: 18px;
                }

                ul {
                    height: 100%;
                    display: flex;
                    align-items: center;

                    li {
                        &.total-items {
                            width: 100%;
                            text-align: center;

                            p {
                                color: white;
                                font-size: 18px;
                                font-weight: bold;
                            }
                        }

                        &.close {
                            i {
                                width: 20px;
                                height: 20px;
                                display: block;
                                color: black;
                                cursor: pointer;
                                line-height: 20px;
                                text-align: center;
                                font-style: normal;
                                border-radius: 50px;
                                background-color: #fff;
                            }
                        }
                    }
                }
            }
        }

        >.column_2 {
            height: calc(100% - 265px);

            /* width */
            ::-webkit-scrollbar {
                width: 5px;
                height: 5px;
            }

            /* Track */
            ::-webkit-scrollbar-track {
                border-radius: 10px;
            }

            /* Handle */
            ::-webkit-scrollbar-thumb {
                background-color: $cor-principal;
                border-radius: 10px;
            }

            .content {
                margin: 10px;
                height: 100%;
                overflow-y: scroll;
                position: relative;
                padding-right: 10px;

                >ul {
                    >li {
                        position: relative;
                        display: flex;
                        flex-wrap: wrap;
                        padding: 5px;
                        border-radius: 4px;
                        margin-bottom: 10px;
                        background-color: white;

                        .column_1 {
                            width: 30%;
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            img {
                                width: 100%;
                                height: auto;
                            }
                        }

                        .column_2 {
                            width: 70%;

                            @media screen and (min-width:$mobile) {
                                padding-left: 10px;
                            }

                            .name {
                                padding-right: 20px;
                                margin-bottom: 20px;

                                p {
                                    font-size: 14px;
                                    font-weight: 400;
                                    line-height: 13px;
                                }
                            }

                            .ft {
                                margin-top: 10px;

                                ul {
                                    display: flex;
                                    align-items: center;
                                    justify-content: space-between;

                                    li {
                                        .box-count {
                                            width: 100%;
                                            height: 35px;
                                            display: flex;
                                            max-width: 115px;
                                            border-radius: 3px;
                                            align-items: center;
                                            border: 1px solid #dcdcdc;
                                            justify-content: space-between;

                                            .count {
                                                width: 30%;
                                                height: 100%;
                                                font-size: 18px;
                                                line-height: 30px;
                                                font-weight: bold;
                                                text-align: center;
                                                color: $cor-principal;

                                                &.count-down {
                                                    border-right: 1px solid #dcdcdc;
                                                }

                                                &.count-up {
                                                    border-left: 1px solid #dcdcdc;
                                                }
                                            }

                                            input {
                                                width: 40%;
                                                height: 100%;
                                                border: none;
                                                text-align: center;
                                                pointer-events: none;
                                                background-color: #fff;
                                            }
                                        }

                                        &.price {
                                            p {
                                                font-size: 16px;
                                                font-weight: bold;
                                                color: $cor-principal;
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        .removeUni {
                            top: 5px;
                            right: 5px;
                            cursor: pointer;
                            position: absolute;

                            img {
                                width: 15px;
                                height: auto;
                            }
                        }
                    }
                }
            }
        }

        >.column_3 {
            .footer {
                height: 208px;
                background-color: #EAEAEA;
                padding: 10px 20px 10px 20px;

                ul {
                    margin: 10px 0;
                    font-size: 18px;

                    @media screen and (max-width:$iphone5) {
                        margin-top: 0;
                    }

                    li {
                        padding-left: 10px;
                        padding-right: 10px;

                        &:not(:last-child) {
                            margin-bottom: 10px;
                            padding-bottom: 10px;
                            border-bottom: 1px solid #DBDBDB;
                        }

                        &:not(.dis-none) {
                            display: flex;
                            justify-content: space-between;
                        }

                        &.entrega {
                            a {
                                text-decoration: underline;
                            }
                        }

                        span {
                            &.total-price {
                                color: black;
                                font-size: 16px;
                                font-weight: bold;
                            }
                        }
                    }
                }
            }
        }
    }

    .btn-finalizar {
        width: 100%;
        height: 45px;
        display: block;
        color: white;
        font-size: 18px;
        font-weight: bold;
        line-height: 45px;
        border-radius: 4px;
        text-align: center;
        background-color: $laranja;
        box-shadow: 0px 6px 6px rgba(231, 131, 39, 0.5);

        @media screen and (min-width:$mobile) {
            margin-top: 25px;
        }
    }
}