.departamento {
    .banner {
        &.desktop {
            img {
                display: block;
                margin: 0 auto;
            }
        }

        &.mobile {
            img {
                width: 100%;
                height: auto;
            }
        }
    }

    .vitrine_view {
        .prateleira {
            margin-top: 30px;
        }
    }

    .sugestions {
        margin-bottom: 40px;

        @media screen and (min-width:$mobile) {
            display: flex;
            align-items: center;
        }

        .title {
            font-size: 20px;
            font-weight: bold;
            margin-right: 20px;
        }

        ul {
            display: flex;
            align-items: center;

            @media screen and (max-width:$mobile) {
                overflow-x: auto;
                flex-wrap: nowrap;
                margin: 10px -15px 0 0;
                justify-content: initial;
                -webkit-overflow-scrolling: touch;
                -ms-overflow-style: -ms-autohiding-scrollbar;
            }

            li {
                @media screen and (min-width:$mobile) {
                    flex: 0 0 auto;
                }

                &:not(:last-child) {
                    margin-right: 10px;
                }

                a {
                    width: auto;
                    height: 35px;
                    color: #fff;
                    display: block;
                    padding: 0 10px;
                    font-size: 16px;
                    line-height: 35px;
                    border-radius: 4px;
                    background-color: #6D59E7;
                }
            }
        }
    }

    .full_menu {
        @media screen and (min-width:$mobile) {
            position: relative;
            background-color: #FAFAFA;

            &:after {
                content: '';
                z-index: -1;
                top: -10px;
                right: -10px;
                width: 10000px;
                position: absolute;
                height: calc(100% + 80px);
                background-color: #FAFAFA;
            }
        }

        @media screen and (max-width:$mobile) {
            position: fixed;
            z-index: 12;
            width: 80%;
            height: 80%;
            top: 0;
            right: -100%;
            padding: 15px;
            transition: right 300ms;
            background-color: #F6F6F6;

            &.active {
                right: 0;
            }

            .head {
                ul {
                    display: flex;
                    align-items: center;
                    padding-bottom: 10px;
                    justify-content: space-between;

                    li {
                        .close {
                            display: block;

                            &:after {
                                content: '';
                                width: 10px;
                                height: 10px;
                                display: block;
                                transform: rotate(130deg);
                                border-right: 2px solid gray;
                                border-bottom: 2px solid gray;
                            }
                        }

                        .btn.clear {}
                    }
                }

                .title {
                    margin: 10px 0;
                    font-size: 18px;
                    font-weight: bold;
                    text-align: center;
                }
            }
        }

        .navigation-tabs {

            /* width */
            ::-webkit-scrollbar {
                width: 8px;
                height: 8px;
            }

            /* Track */
            ::-webkit-scrollbar-track {
                border-radius: 50px;
                background-color: #E5E5E5;
            }

            /* Handle */
            ::-webkit-scrollbar-thumb {
                border-radius: 50px;
                background-color: #B7B5B5;
            }

            @media screen and (max-width:$mobile) {
                width: 100%;
                overflow: scroll;
                margin-bottom: 20px;
                height: calc(100% - 135px);
            }

            .menu-departamento {
                &>div {
                    .menu-navegue {
                        display: none;
                    }

                    .search-multiple-navigator {
                        display: block !important;

                        &>h3 {
                            display: none;
                        }

                        &>h4,
                        .bt-refinar {
                            display: none;
                        }

                        fieldset {
                            padding: 15px 0;
                            margin: 15px 0 50px;
                            border-top: 1px solid #dcdcdc;

                            &[data-name="Ordenacao"] {
                                display: none;

                                @media screen and (max-width:$mobile) {
                                    display: block;
                                }
                            }

                            @media screen and (max-width:$mobile) {
                                margin: 15px 0;
                                padding: 15px 0 0;

                                &:first-child {
                                    border-top: none;
                                }
                            }

                            h5 {
                                color: #000;
                                display: flex;
                                font-size: 18px;
                                cursor: pointer;
                                font-weight: bold;
                                line-height: 18px;
                                align-items: center;
                                justify-content: space-between;

                                @media screen and (min-width:$mobile) {
                                    margin-bottom: 20px;
                                }

                                &:after {
                                    content: '';
                                    width: 9px;
                                    height: 9px;
                                    transition: all 300ms;
                                    transform: rotate(45deg);
                                    border-right: 2px solid #000;
                                    border-bottom: 2px solid #000;
                                }

                                &.active {
                                    &:after {
                                        transform: rotate(225deg);
                                    }
                                }
                            }

                            div {
                                @media screen and (max-width:$mobile) {
                                    display: none;
                                    padding-top: 15px;
                                    padding-left: 15px;
                                }

                                label {
                                    margin-bottom: 10px;

                                    input {
                                        width: 16px;
                                        height: 16px;
                                        float: left;
                                        bottom: -1px;
                                        appearance: none;
                                        margin-right: 7px;
                                        position: relative;
                                        -moz-appearance: none;
                                        -webkit-appearance: none;
                                        
                                        &:checked {
                                            &:after {
                                                background-size: 9px;
                                                border-color: $cor-principal;
                                            }
                                        }
                                        
                                        &:after {
                                            content: '';
                                            width: 100%;
                                            height: 100%;
                                            display: block;
                                            background-size: 0;
                                            border-radius: 2px;
                                            transition: all 300ms;
                                            border: 1px solid #D6D6D6;
                                            background-position: center;
                                            background-repeat: no-repeat;
                                            background-color: transparent;
                                            background-image: url('/arquivos/icon-checked.png');
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .search-single-navigator {
                        &>h3 {
                            display: none;
                        }

                        h5,
                        h4 a {
                            color: #000;
                            display: block;
                            font-size: 18px;
                            line-height: 18px;
                            font-weight: bold;
                            margin-bottom: 15px;
                        }

                        ul {
                            &:empty {
                                display: none;
                            }

                            li {
                                &:last-child {
                                    margin-bottom: 10px;
                                    padding-bottom: 10px;
                                    border-bottom: 1px solid #dcdcdc;
                                }

                                a {
                                    display: block;
                                    margin-bottom: 10px;
                                }
                            }
                        }
                    }
                }
            }
        }

        .view {
            width: 100%;
            height: 45px;
            color: #fff;
            line-height: 45px;
            text-align: center;
            border-radius: 3px;
            background-color: #65C01D;
        }
    }


    .options {
        margin-bottom: 10px;
        padding-bottom: 10px;
        
        @media screen and (min-width:$mobile) {
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: 1px dashed #dcdcdc;
        }

        .buttons {
            width: 100%;
            margin-bottom: 15px;

            ul {
                display: flex;
                padding: 15px;
                margin: 0 -15px;
                align-items: center;
                background-color: #F1F1F1;
                justify-content: space-between;

                li {
                    width: 50%;

                    &:first-child {
                        border-right: 1px solid #dcdcdc;
                    }

                    #filtrar {
                        width: auto;
                        height: 40px;
                        color: #000;
                        font-size: 20px;
                        font-weight: bold;
                        line-height: 36px;
                        text-align: center;

                        svg {
                            margin-right: 10px;
                            margin-bottom: -4px;
                        }
                    }

                    select {
                        width: 100%;
                        color: #000;
                        height: 40px;
                        border: none;
                        direction: rtl;
                        appearance: none;
                        font-size: 20px;
                        font-weight: bold;
                        -moz-appearance: none;
                        text-align-last: center;
                        -webkit-appearance: none;
                        background-position: 20px;
                        background-color: transparent;
                        background-repeat: no-repeat;
                        background-image: url(/arquivos/icon-ordenacao.png);
                    }
                }
            }
        }

        .flags {
            display: flex;
            align-items: center;

            .content {
                width: 100%;

                @media screen and (min-width:$mobile) {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }

                /* width */
                ::-webkit-scrollbar {
                    width: 8px;
                    height: 8px;
                }

                /* Track */
                ::-webkit-scrollbar-track {
                    border-radius: 50px;
                    background-color: #E5E5E5;
                }

                /* Handle */
                ::-webkit-scrollbar-thumb {
                    border-radius: 50px;
                    background-color: #B7B5B5;
                }

                ul {
                    display: flex;
                    overflow-y: hidden;
                    align-items: center;

                    &:not(:empty) {
                        padding-bottom: 5px;
                    }

                    &:empty {
                        &+.clear {
                            display: none;
                        }
                    }

                    @media screen and (max-width:$mobile) {
                        width: 100%;
                        flex-wrap: wrap;
                        justify-content: space-between;
                    }

                    li {
                        @media screen and (max-width:$mobile) {
                            width: 48%;
                            margin-bottom: 10px;
                        }

                        @media screen and (min-width:$mobile) {
                            margin-right: 5px;
                        }

                        >div {
                            color: #fff;
                            width: auto;
                            height: 37px;
                            display: flex;
                            cursor: pointer;
                            padding: 0 10px;
                            min-width: 135px;
                            align-items: center;
                            background-color: #f3f3f3;
                            justify-content: space-between;

                            p {
                                font-size: 13px;
                                color: #2D2D2D;
                            }

                            i {
                                font-size: 18px;
                                color: #11B5FB;
                                font-weight: bold;
                                font-style: normal;
                            }
                        }
                    }
                }

                .btn.clear {
                    display: flex;
                    font-size: 13px;
                    font-weight: 500;
                    padding-left: 10px;
                    align-items: center;

                    @media screen and (min-width:$mobile) {
                        margin-left: 20px;
                        border-left: 1px solid #444444;
                    }

                    @media screen and (max-width:$mobile) {
                        margin: 10px 0;
                        justify-content: flex-end;
                    }

                    svg {
                        width: 16px;
                        height: 16px;
                        margin-left: 7px;

                        path {
                            fill: #444444;
                        }
                    }
                }
            }
        }

        .box_ordenacao {
            @media screen and (min-width:$mobile) {
                display: flex;
                align-items: center;
            }

            .title {
                font-weight: 400;
                margin-right: 10px;
            }

            select {
                width: 110px;
                height: 30px;
                font-size: 14px;
                text-indent: 15px;
                border-radius: 3px;
                font-weight: normal;
                background-position: 95%;
                border: 1px solid #DADADA;
            }
        }
    }

    .main {

        .searchResultsTime,
        .sub {
            display: none;
        }

        .vitrine {
            .pager {
                display: none;
            }

            .prateleira {
                ul {
                    li {
                        // padding: 0;
                        margin-bottom: 20px;
                        padding: 0 7px !important;

                        @media screen and (max-width:$mobile) {
                            width: calc(100% / 2);
                        }

                        article {
                            box-shadow: none;

                            &:hover {
                                box-shadow: 1px 1px 10px rgba(0, 0, 0, .15);
                            }

                            .name {
                                @media screen and (max-width:$mobile) {
                                    padding: 0 5px;
                                }
                            }

                            .buy-button-normal {
                                @media screen and (max-width:$mobile) {
                                    display: none;
                                }

                                >a {
                                    font-size: 0;
                                    text-transform: inherit;

                                    &:after {
                                        font-size: 15px;
                                        content: 'Adicionar ao Carrinho';
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .btn-load-more {
                width: 235px;
                height: 45px;
                margin: 0 auto;
                cursor: pointer;
                font-weight: bold;
                line-height: 42px;
                text-align: center;
                border-radius: 50px;
                color: $cor-principal;
                text-transform: uppercase;
                border: 1px solid $cor-principal;
            }
        }
    }
}

.brand {
    div.options #ordenacao {
        display: none !important;
    }

    .main .sub {
        display: block !important;

        .orderBy {
            text-align: right;
            position: relative;
            top: -23px;

            label {
                display: inline-block;
            }

            select {
                padding: 10px 10px;
                width: 150px;
                border: 1px solid #b7b5b5;

                &::-ms-expand {
                    display: none;
                }
            }
        }
    }

    .filterBy,
    .compare {
        display: none;
    }

    @media (max-width: 768px) {
        .main .sub {
            display: none !important;
        }
    }
}