footer {
    margin-top: 60px;

    .our_store {
        display: none;
        margin: 30px 0;

        ul {
            @media screen and (max-width:$mobile) {
                text-align: center
            }

            @media screen and (min-width:$mobile) {
                display: flex;
                align-items: center;
                justify-content: center;
            }

            li {
                @media screen and (min-width:$mobile) {
                    &:last-child {
                        max-width: 80%;
                    }
                }

                .text {
                    @media screen and (min-width:$mobile) {
                        margin-left: 30px;
                    }

                    .title {
                        font-size: 18px;
                        color: #595959;
                        font-family: $font-secundaria;

                        @media screen and (max-width:$mobile) {
                            margin: 20px 0;
                        }    
                    }

                    .description {
                        margin: 15px 0;
                        color: #999999;
                        line-height: 22px;
                        letter-spacing: 0.02em;
                    }

                    .view {
                        color: #fff;
                        width: 135px;
                        height: 35px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background-color: $cor-principal;
                        
                        @media screen and (max-width:$mobile) {
                            width: 100%;
                        }    

                        i {
                            margin-right: 10px;
                        }
                    }
                }
            }
        }
    }

    .row_0 {
        padding: 20px 0;
        margin-bottom: 40px;
        background-color: #F3F3F3;

        ul {
            @media screen and (min-width:$mobile) {
                display: flex;
                justify-content: space-between;
            }

            li {
                &:nth-child(2) {
                    @media screen and (min-width:$mobile) {
                        padding: 0 50px;
                        border-left: 1px solid #dcdcdc;
                        border-right: 1px solid #dcdcdc;
                    }

                    @media screen and (max-width:$mobile) {
                        margin: 15px 0;
                        padding: 15px 0;
                        border-top: 1px solid #dcdcdc;
                        border-bottom: 1px solid #dcdcdc;
                    }
                }

                .text {
                    p {
                        margin-bottom: 20px;

                        small {
                            font-size: 14px;
                        }

                        strong {
                            display: block;
                            font-size: 20px;
                        }
                    }

                    a {
                        display: flex;
                        font-size: 22px;
                        align-items: center;

                        i {
                            margin-right: 10px;

                            svg {
                                display: inherit;
                            }
                        }
                    }
                }
            }
        }
    }

    .row_1 {
        .columns {
            @media screen and (min-width:$mobile) {
                display: flex;
                justify-content: space-between;
            }

            .column {

                //MOBILE
                &.toggle {
                    @media screen and (max-width:$mobile) {
                        padding: 12px 0;
                        border-bottom: 1px solid #dcdcdc;

                        .title {
                            &.active {
                                &:after {
                                    content: '-';
                                }
                            }

                            &:after {
                                content: '+';
                                float: right;
                            }
                        }

                        ul {
                            display: none;
                            margin: 10px 0;
                            padding-left: 20px;
                        }
                    }
                }

                //REDES SOCIAIS
                &.column_6 {
                    ul {
                        display: flex;
                        align-items: center;

                        li {
                            &:not(:last-child) {
                                margin-right: 10px;
                            }
                        }

                        @media screen and (max-width:$mobile) {
                            margin-top: 15px;
                            justify-content: center;
                        }
                    }

                }

                .title {
                    font-size: 16px;
                    font-weight: bold;
                    font-family: $font-secundaria;

                    @media screen and (min-width:$mobile) {
                        margin-bottom: 15px;
                    }
                }

                ul {
                    li {
                        a {
                            display: block;
                            font-size: 16px;
                            font-weight: 400;
                            margin-top: 10px;
                        }
                    }
                }
            }
        }
    }

    .row_2 {
        margin: 40px 0;
    }

    .row_3 {
        margin-bottom: 40px;

        ul {
            text-align: center;

            li {
                margin: 0 15px;
                display: inline-block;

                a {
                    figure {
                        i {
                            width: 82px;
                            height: 82px;
                            display: flex;
                            margin: 0 auto 15px;
                            align-items: center;
                            border-radius: 50px;
                            justify-content: center;
                            background-color: $cor-principal;
                        }

                        figcaption {
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }

    .row_4 {
        padding-top: 40px;
        margin-bottom: 40px;
        border-top: 1px solid #dcdcdc;

        .columns {
            @media screen and (min-width:$mobile) {
                display: flex;
                justify-content: space-between;
            }

            .column {
                @media screen and (max-width:$mobile) {
                    text-align: center;
                    margin-bottom: 20px;
                }

                .title {
                    font-size: 14px;
                    margin-bottom: 15px;
                }

                ul {
                    display: flex;
                    align-items: center;

                    @media screen and (max-width:$mobile) {
                        align-items: center;
                        justify-content: center;
                    }

                    li {
                        &:not(:last-child) {
                            margin-right: 15px;
                        }

                        a {}
                    }
                }
            }
        }
    }

    .row_5 {
        padding: 10px 0;
        background-color: #FAFAFA;

        p {
            font-size: 14px;
            color: #7C7C7C;
        }
    }
}