header {
    .row_1 {
        margin-top: 20px;
        margin-bottom: 15px;

        .columns {
            display: flex;
            align-items: center;
            justify-content: space-between;

            @media screen and (max-width:$mobile) {
                flex-wrap: wrap;
            }

            .column {
                &.column_0 {
                    @media screen and (max-width:$mobile) {
                        width: 10%;
                        order: 1;

                        #hamburger {
                            width: 30px;
                            height: auto;

                            span {
                                width: 100%;
                                height: 3px;
                                display: block;
                                background-color: $cor-principal;

                                &:nth-child(2) {
                                    margin: 4px 0;
                                }

                                &:nth-child(3) {
                                    width: 60%;
                                }
                            }
                        }
                    }
                }

                &.column_1 {
                    @media screen and (max-width:$mobile) {
                        order: 2;
                        width: 70%;
                        text-align: center;
                    }
                }

                &.column_2 {
                    @media screen and (max-width:$mobile) {
                        width: 100%;
                        order: 4;
                    }

                    .busca {
                        height: auto;
                        
                        @media screen and (min-width:$mobile) {
                            width: 450px;
                            box-shadow: 0px 8px 11px -2px #dcdcdc;
                        }

                        @media screen and (max-width:$mobile) {
                            width: 100%;
                            margin-top: 5px;
                        }

                        legend,
                        label,
                        select {
                            display: none;
                        }

                        .btn-buscar,
                        .fulltext-search-box {
                            float: left;
                        }

                        .fulltext-search-box {
                            width: 80%;
                            height: 40px;
                            text-indent: 15px;
                            border-bottom: 1px solid #C9C9C9;
                        }

                        .btn-buscar {
                            width: 20%;
                            height: 40px;
                            font-size: 0;
                            cursor: pointer;
                            background-position: center;
                            background-repeat: no-repeat;
                            background-color: transparent;
                            border-bottom: 1px solid #C9C9C9;
                            background-image: url('/arquivos/ico-lupa.png');

                            @media screen and (max-width:$mobile) {
                                background-position: 80%;
                            }
                        }
                    }
                }

                &.column_3 {
                    ul {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        li {
                            a {
                                width: 140px;
                                height: 37px;
                                display: flex;
                                font-size: 16px;
                                color: #5F5F5F;
                                line-height: 35px;
                                border-radius: 50px;
                                align-items: center;
                                justify-content: center;
                                transition: border 300ms;
                                border: 2px solid transparent;

                                &:hover {
                                    border-color: $cor-principal;
                                }

                                i {
                                    display: inherit;
                                    margin-right: 10px;

                                    svg {
                                        display: inherit;
                                    }
                                }
                            }
                        }
                    }
                }

                &.column_4 {
                    @media screen and (max-width:$mobile) {
                        order: 3;
                        width: 20%;
                        padding-right: 10px;
                    }

                    ul {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        li {
                            &:not(:last-child) {
                                margin-right: 15px;
                            }

                            a {
                                &#open_cart {
                                    position: relative;

                                    span {
                                        top: -7px;
                                        right: -10px;
                                        width: 16px;
                                        height: 16px;
                                        color: #fff;
                                        display: block;
                                        font-size: 9px;
                                        line-height: 16px;
                                        position: absolute;
                                        text-align: center;
                                        border-radius: 50px;
                                        background-color: $vermelho;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .row_2 {
        @media screen and (min-width:$mobile)  {
            background-color: $cor-principal;
        }

        .list {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .menu {
                &.menu_1 {
                    @media screen and (max-width:$mobile) {
                        top: 0;
                        width: 90%;
                        height: auto;
                        left: -100%;
                        z-index: 12;
                        position: fixed;
                        overflow-x: hidden;
                        transition: left 300ms;
                        background-color: #F6F6F6;

                        &.active {
                            left: 0;
                        }
                    }

                    #open_nav {
                        @media screen and (min-width:$mobile) {
                            width: auto;
                            height: 35px;
                            color: #fff;
                            display: flex;
                            cursor: pointer;
                            align-items: center;

                            i {
                                width: 20px;
                                height: auto;
                                margin-right: 10px;

                                span {
                                    width: 100%;
                                    height: 2px;
                                    display: block;
                                    background-color: #fff;

                                    &:nth-child(2) {
                                        margin: 3px 0;
                                    }

                                    &:nth-child(3) {
                                        width: 80%;
                                    }
                                }
                            }

                            &:hover {
                                &+.header {
                                    &+nav {
                                        opacity: 1;
                                        visibility: visible;
                                    }
                                }
                            }
                        }
                    }

                    .header {
                        color: #fff;
                        padding: 15px;
                        background-color: $cor-principal;

                        ul {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;

                            li {
                                a {
                                    &.btn.account {
                                        display: flex;
                                        font-size: 16px;
                                        align-items: center;

                                        i {
                                            margin-right: 15px;
                                        }

                                        strong {
                                            display: block;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    nav {
                        @media screen and (min-width:$mobile) {
                            z-index: 2;
                            display: flex;
                            flex-wrap: wrap;
                            flex-direction: row;
                            position: absolute;
                            width: 870px;
                            height: 480px;
                            opacity: 0;
                            overflow: hidden;
                            visibility: hidden;
                            background-color: white;

                            &:hover {
                                opacity: 1;
                                visibility: visible
                            }
                        }

                        >.column_1 {
                            &.disabled {
                                display: none !important;
                            }

                            @media screen and (min-width:$mobile) {
                                z-index: 1;
                                width: 30%;
                                border-top: 5px solid $cor-secundaria-escuro;
                                box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
                            }

                            >ul {
                                @media screen and (min-width:$mobile) {
                                    padding: 20px 0;
                                }

                                @media screen and (max-width:$mobile) {
                                    padding: 0 15px;
                                }

                                li {
                                    &.destaque {
                                        a {
                                            color: $cor-principal;
                                            background-image: none;
                                        }
                                    }

                                    a {
                                        display: flex;
                                        font-size: 15px;
                                        align-items: center;
                                        justify-content: space-between;

                                        @media screen and (min-width:$mobile) {
                                            font-weight: bold;
                                            text-indent: 20px;
                                            margin-bottom: 10px;
                                        }

                                        @media screen and (max-width:$mobile) {
                                            height: 50px;
                                            line-height: 50px;
                                            background-position: 90%;
                                            background-repeat: no-repeat;
                                            background-image: url('/arquivos/arrow-menu.png?v=1');
                                        }
                                    }
                                }
                            }
                        }

                        >.column_2 {
                            @media screen and (min-width:$mobile) {
                                width: 70%;
                                overflow: hidden;
                                position: relative;
                                background-color: #F7F7F7;
                            }

                            @media screen and (max-width:$mobile) {
                                padding: 0 15px;
                                width: 100%;
                                height: auto;
                                display: none;
                                background-color: #f6f6f6;

                                &.active {
                                    right: 0;
                                    display: block;
                                }

                                #nav-menu-back {
                                    color: #fff;
                                    padding: 15px;
                                    font-size: 16px;
                                    margin: 0 -15px;
                                    font-weight: bold;
                                    text-indent: 20px;
                                    margin-bottom: 10px;
                                    background-position: 10px;
                                    background-color: #0D685D;
                                    background-repeat: no-repeat;
                                    background-image: url(/arquivos/arrow-menu-back.png?v=1);
                                }
                            }

                            .content {
                                display: none;

                                @media screen and (max-width:$mobile) {
                                    &.active {
                                        display: block;
                                    }
                                }

                                @media screen and (min-width:$mobile) {
                                    top: 0;
                                    width: 100%;
                                    height: 100%;
                                    display: flex;
                                    left: -100%;
                                    opacity: 0;
                                    padding-left: 40px;
                                    position: absolute;
                                    flex-direction: row;
                                    transition: left 300ms;
                                    justify-content: flex-start;

                                    &.active {
                                        opacity: 1;
                                        left: 0;
                                    }
                                }

                                .column_1,
                                .column_2 {
                                    ul {
                                        @media screen and (min-width:$mobile) {
                                            padding: 20px 0;
                                        }
                                    }
                                }

                                .column_1,
                                .column_2,
                                .column_3 {
                                    width: 33.3%;

                                    @media screen and (max-width:$mobile) {
                                        width: 100%;
                                    }

                                    ul {
                                        li {
                                            a {
                                                font-size: 15px;
                                                display: block;
                                                margin-bottom: 10px;
                                            }
                                        }
                                    }

                                    img {
                                        width: 100%;
                                        height: auto;

                                        @media screen and (max-width:$mobile) {
                                            display: none;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .footer {
                        padding: 15px;

                        ul {
                            li {
                                &:first-child {
                                    margin-bottom: 5px;
                                }

                                a {
                                    width: 100%;
                                    height: 45px;
                                    display: flex;
                                    font-size: 16px;
                                    border-radius: 4px;
                                    align-items: center;
                                    justify-content: center;
                                    background-color: #dcdcdc;

                                    i {
                                        margin-right: 5px;
                                    }
                                }
                            }
                        }
                    }
                }

                &.menu_2 {
                    >ul {
                        display: flex;
                        position: relative;
                        align-items: center;
                        justify-content: space-between;

                        >li {
                            >a {
                                width: auto;
                                color: #fff;
                                height: 35px;
                                display: block;
                                padding: 0 15px;
                                line-height: 33px;
                                transition: all 300ms;

                                &:hover {
                                    color: #fff;
                                    background-color: $cor-secundaria-escuro;

                                    &+.submenu {
                                        display: block;
                                    }
                                }
                            }

                            .submenu {
                                display: none;

                                width: 825px;
                                height: auto;
                                top: 35px;
                                left: 0;
                                z-index: 1;
                                position: absolute;
                                padding: 10px 50px;
                                background-color: #fff;

                                @media screen and (min-width:$mobile) {
                                    box-shadow: 1px 3px 5px 1px #dcdcdc;
                                }

                                &:hover {
                                    display: block;
                                }

                                .columns {
                                    display: flex;
                                    flex-wrap: wrap;
                                    align-items: center;
                                    justify-content: space-between;

                                    .column {
                                        .all {
                                            display: block;
                                            margin: 30px 0;
                                            font-weight: bold;
                                            color: $cor-principal;
                                        }

                                        &.column_1,
                                        &.column_2 {
                                            width: 25%;

                                            ul {
                                                li {
                                                    margin-top: 10px;
                                                }
                                            }
                                        }

                                        &.column_3 {
                                            width: 50%;
                                        }

                                        &.column_4 {
                                            width: 100%;
                                            height: auto;

                                            ul {
                                                display: flex;
                                                align-items: center;
                                                justify-content: space-between;

                                                li {

                                                    a {
                                                        img {}
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                &.menu_3 {
                    ul {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        li {
                            &:not(:last-child) {
                                margin-right: 15px;
                            }

                            a {
                                font-size: 20px;
                                color: #FFE247;
                                font-weight: bold;
                            }
                        }
                    }
                }
            }
        }
    }
}