.home {
    main {
        .full_banner {
            ul {
                &:not(.slick-slider) {
                    .box-banner {
                        &:not(:last-child) {
                            display: none;
                        }
                    }
                }

                .box-banner {
                    a {
                        img {
                            @media screen and (max-width:$mobile) {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }

        .news {
            margin: 20px 0 50px;
        }

        .row_1 {
            margin-bottom: 60px;
            background-color: #FAFAFA;

            .columns {
                .column_1 {
                    img {
                        @media screen and (max-width:$mobile) {
                            margin-left: -15px;
                            max-width: initial;
                            width: calc(100% + 30px);
                        }
                    }
                }
            }

            .ofertas {
                .prat-title {
                    strong {
                        color: $vermelho;
                    }
                }

                .desktop {
                    .box-banner {
                        @media screen and (min-width:$mobile) {
                            img {
                                min-height: 273px;
                            }
                        }
                    }
                }
            }
        }

        .tipos,
        .list_marcas {
            margin: 80px 0;

            ul {
                display: flex;
                align-items: center;
                justify-items: center;

                @media screen and (min-width:$mobile) {
                    margin: 0 -7.5;
                }

                @media screen and (max-width:$mobile) {
                    margin: 0 -15px;
                }

                li {
                    @media screen and (max-width:$mobile) {
                        margin: 0 7.5px;
                    }

                    a {
                        text-align: center;
                        display: inline-block;

                        @media screen and (min-width:$mobile) {
                            padding: 0 7.5px;
                        }

                        figure {

                            figcaption {
                                margin-top: 10px;

                                strong {
                                    display: block;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}