.institucional {
    main {
        .menu {
            ul {
                li {
                    &:not(:first-child) {
                        margin-top: 15px;
                    }
                    
                    a {
                        &.active {
                            font-weight: bold;
                        }
                    }
                }
            }
        }
    
        .content {
            h1 {
                margin: 20px 0;
                font-size: 30px;
                font-weight: bold;
                color: $cor-principal;
            }
    
            >p,
            >h2 {
                margin: 15px 0;
            }
    
            .question {
                .title {
                    cursor: pointer;
                    font-size: 18px;
                    padding: 15px 0;
                    font-weight: bold;
    
                    &:after {
                        content: '+';
                        float: right;
                    }
    
                    &.active {
                        &:after {
                            content: '-';
                        }
                    }
                }
    
                .text {
                    display: none;
                    padding: 20px;
                    background: #fafafa;
                    
                    p {
                        font-size: 16px;
                        line-height: 19px;
                    }
                }
            }
    
            .galeria {
                display: flex;
                align-items: center;
                justify-content: center;
    
                li {
                    figure {
                        figcaption {
                            font-size: 50px;
                            font-weight: bold;
                            color: $cor-principal;
                        }
    
                        img {}
    
                        p {
                            max-width: 60%;
                        }
                    }
                }
            }
        }
    }

    .our_store {
        display: block;
    }
}