.news {
    padding: 15px;
    border-radius: 9px;
    background-color: #F4F4F4;
    border-top: 4px solid $cor-secundaria;

    @media screen and (min-width:$mobile) {
        display: flex;
    }

    .text {
        @media screen and (min-width:$mobile) {
            width: 45%;
        }

        @media screen and (max-width:$mobile) {
            text-align: center;
        }

        .title {
            font-size: 22px;
            font-weight: bold;
            line-height: 27px;
            margin-bottom: 10px;
            color: $cor-secundaria;
            font-family: $font-secundaria;
        }

        .description {
            font-size: 16px;
            color: #424242;
        }
    }

    .content {
        @media screen and (min-width:$mobile) {
            width: 55%;
        }

        form {
            &.loading {
                input[type="submit"] {
                    opacity: 0.6;
                    pointer-events: none;
                }
            }

            fieldset {
                .checkbox {
                    display: flex;
                    align-items: center;

                    @media screen and (max-width:$mobile) {
                        margin: 20px 0;
                        justify-content: space-between;
                    }

                    label {
                        display: flex;
                        align-items: center;

                        @media screen and (min-width:$mobile) {
                            &:first-child {
                                margin-right: 30px;
                            }
                        }

                        input {
                            display: flex;
                            margin-right: 10px;
                            border-radius: 2px;
                            align-items: center;
                            background-color: #fff;
                            border: 1px solid #dcdcdc;

                            &:checked {
                                background-color: $cor-principal
                            }
                        }
                    }
                }

                .input {
                    width: 100%;
                    margin: 10px 0;

                    @media screen and (min-width:$mobile) {
                        display: flex;
                    }

                    input {
                        height: 45px;
                        border-radius: 2px;
                        background-color: #fff;

                        @media screen and (max-width:$mobile) {
                            width: 100%;
                            margin-bottom: 10px;
                        }

                        &[type="text"],
                        &[type="email"] {
                            text-indent: 10px;
                            margin-right: 10px;

                            @media screen and (min-width:$mobile) {
                                width: 40%;
                            }
                        }

                        &[type="submit"] {
                            color: #fff;
                            font-size: 18px;
                            cursor: pointer;
                            font-weight: bold;
                            background-color: $vermelho;
                            box-shadow: 0 0 2px 1px $vermelho;

                            @media screen and (min-width:$mobile) {
                                width: 20%;
                            }
                        }
                    }
                }

                .message {
                    font-size: 11px;
                    color: #878787;
                }
            }
        }
    }
}