.nossas_lojas {
    main {
        h1 {
            text-align: center;

            strong {
                font-size: 30px;
                color: $cor-principal;
            }

            small {
                display: block;
                font-size: 18px;
                margin-top: 10px;
            }
        }

        form {
            width: 100%;
            height: 35px;
            max-width: 400px;
            margin: 50px auto;
            border-bottom: 1px solid #dcdcdc;

            input {
                float: left;
                height: 100%;

                &[type="text"] {
                    width: 80%;
                }

                &[type="submit"] {
                    width: 20%;
                    font-size: 0;
                    cursor: pointer;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-color: transparent;
                    background-image: url(/arquivos/ico-lupa.png);
                }
            }
        }

        ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            li {
                padding: 5px;
                background-color: #fff;
                
                @media screen and (min-width:$mobile) {
                    width: calc(100% / 4 - 5px);
                    
                    &:hover {
                        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
    
                        article {
                            .image {
                                filter: grayscale(1);
                            }
    
                            .content {
                                display: block;
                            }
                        }
                    }
                }

                @media screen and (max-width:$mobile) {
                    width: calc(100% / 2);
                }

                article {
                    position: relative;

                    .image {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        transition: filter 300ms;

                        a {
                            color: #fff;
                            width: 90%;
                            height: 40px;
                            font-size: 18px;
                            line-height: 36px;
                            border-radius: 3px;
                            font-weight: bold;
                            position: absolute;
                            text-align: center;
                            border: 2px solid #fff;
                        }
                    }

                    .title {
                        p {
                            margin: 5px 0;
                            font-size: 18px;
                            font-weight: bold;
                            line-height: 23px;
                            color: $cor-principal;
                        }
                    }

                    .content {
                        width: 100%;
                        
                        @media screen and (min-width:$mobile) {
                            z-index: 1;
                            display: none;
                            position: absolute;
                            background-color: #fff;
                        }

                        p {
                            &:last-child {
                                margin: 10px 0;
                            }

                            a {
                                display: block;
                                font-weight: bold;
                            }
                        }
                    }
                }
            }
        }
    }
}