.prat-title {
    margin: 20px 0;
    font-size: 20px;
    display: flex;
    align-items: center;

    @media screen and (min-width:$mobile) {
        justify-content: space-between;
    }

    @media screen and (max-width: $mobile) {
        text-align: center;
        flex-direction: column;
        justify-content: center;
    }
    
    strong {
        font-size: 30px;
    }

    a {
        color: $laranja;
        text-decoration: underline;
    }
}

.prateleira {
    &:not(.compre_junto) {
        ol,
        ul {
            li {
                article {
                    &:hover {
                        @media screen and (min-width:$mobile) {
                            box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
                            
                            .buttons {
                                opacity: 1;
                            }
                        }
                    }
                }
            }
        }
    }

    h2 {
        display: none;
        font-size: 30px;
        font-weight: bold;
        font-family: $font-secundaria;
    }

    ol,
    ul {
        &:not(.slick-slider) {
            display: flex;
            flex-wrap: wrap;
        }
        
        li {
            padding: 10px;

            //DESKTOP
            @media screen and (min-width:$mobile) {
                width: calc(100% / 4);
            }

            //MOBILE
            @media screen and (max-width:$mobile) {
                max-width: 200px;
            }

            article {
                position: relative;
                transition: box-shadow 300ms;
                
                @media screen and (min-width:$mobile) {
                    padding: 10px;
                }

                .image {
                    position: relative;

                    a {
                        display: block;

                        img {
                            width: 100%;
                            height: auto;
                        }
                    }

                    #add_wishlist {
                        top: 10px;
                        left: 10px;
                        cursor: pointer;
                        position: absolute;

                        svg {
                            path {
                                transition: fill 300ms;
                            }
                        }

                        &.active,
                        &:hover {
                            svg {
                                path {
                                    fill: #DE3D3D;
                                }
                            }
                        }
                    }
                }

                .selos {
                    margin: 5px 0;

                    .flag {
                        color: $laranja;
                        padding: 1px 10px;
                        font-weight: bold;
                        display: inline-block;
                        border: 2px solid $laranja;
                    }
                }

                .brand {
                    a {
                        font-size: 12px;
                        font-weight: bold;
                    }
                }

                .name {
                    a {
                        display: block;

                        @media screen and (min-width:$mobile) {
                            height: 35px;
                            font-size: 14px;
                            line-height: 17px;
                        }

                        @media screen and (max-width:$mobile) {
                            height: 50px;
                            font-size: 15px;
                            line-height: 17px;
                        }
                    }
                }

                .price {
                    margin: 10px 0;
                    min-height: 56px;

                    .de {
                        display: block;
                        color: #7A7A7A;
                        text-decoration-line: line-through;
                    }

                    .parcelas {
                        display: block;
                        font-size: 16px;

                        strong {
                            font-size: 18px;
                            color: $cor-principal;
                        }
                    }

                    .por {
                        font-size: 12px;

                        strong {
                            color: $cor-principal;
                        }
                    }
                }

                .no-estoque {
                    color: $vermelho;
                }

                .buttons {
                    display: flex;
                    align-items: center;
                    transition: opacity 300ms;
                    justify-content: space-between;

                    .box_count {
                        width: 30%;
                        height: 40px;
                        display: flex;
                        align-items: center;
                        border: 1px solid #dcdcdc;
                        justify-content: space-between;

                        .count,
                        input {
                            height: 100%;
                        }
    
                        .count {
                            width: 30%;
                            font-size: 16px;
                            line-height: 35px;
                            font-weight: bold;
                            text-align: center;
                        }

                        input {
                            width: 40%;
                            text-align: center;
                        }
                    }

                    .add_to_cart {
                        @media screen and (min-width:$mobile) {
                            font-size: 18px;
                        }
    
                        @media screen and (max-width:$mobile) {
                            font-size: 15px;

                            svg {
                                width: 20px;
                                height: 20px;
                            }
                        }
    
                        width: 65%;
                        height: 40px;
                        color: #fff;
                        display: flex;
                        line-height: 40px;
                        align-items: center;
                        justify-content: center;
                        background-color: $vermelho;
                    
                        svg {
                            margin-right: 10px;
                        }
                    }
                }
            }
        }
    }
}