.produto {
    .our_store {
        display: block;
    }

    main {
        .title {
            font-size: 30px;
            font-weight: bold;
            margin-bottom: 20px;

            @media screen and (max-width:$mobile) {
                text-align: center;
            }
        }

        .apresentacao {
            #show {
                @media screen and (min-width:$mobile) {
                    display: flex;
                    flex-direction: row-reverse;
                    position: relative;
                }

                #include {
                    display: none;
                }

                >.thumbs {
                    width: 84%;
                    cursor: crosshair;

                    @media screen and (min-width:$mobile) {
                        transition: border 300ms;
                        border: 1px solid #fff;

                        &:hover {
                            border-color: #dcdcdc;
                        }
                    }

                    &:not(.slick-initialized) {
                        li {
                            &:not(:first-child) {
                                display: none;
                            }
                        }
                    }

                    img {
                        width: 100%;
                        height: auto;
                    }

                    /* width */
                    ::-webkit-scrollbar {
                        width: 5px;
                        height: 5px;
                    }

                    /* Track */
                    ::-webkit-scrollbar-track {
                        border-radius: 10px;
                    }

                    /* Handle */
                    ::-webkit-scrollbar-thumb {
                        background-color: $cor-principal;
                        border-radius: 10px;
                    }

                    @media screen and (max-width:$mobile) {
                        width: 100%;

                        .slick-arrow {
                            top: 40%;
                        }
                    }

                    .slick-list {
                        li {
                            a {
                                img {
                                    width: 100%;
                                    height: auto;
                                }

                                &#play_video {
                                    cursor: crosshair;
                                    pointer-events: none;

                                    video {
                                        @media screen and (max-width:$mobile) {
                                            height: auto;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .slick-dots {
                        li {

                            //VIDEO
                            &.slick-video {
                                background-size: 40px;
                                background-color: #dcdcdc;
                                background-repeat: no-repeat;
                                background-image: url(/arquivos/ico-play.png) !important;
                            }
                        }

                        @media screen and (min-width:$mobile) {
                            max-height: 480px;
                            overflow-y: scroll;
                            position: absolute;
                            top: 0;
                            left: -19%;
                            padding-right: 5px;

                            li {
                                width: 75px;
                                height: 75px;
                                cursor: pointer;
                                margin-bottom: 5px;
                                background-size: 120px;
                                background-position: center;
                                background-repeat: no-repeat;

                                button {
                                    display: none;
                                }
                            }
                        }

                        @media screen and (max-width:$mobile) {
                            display: flex;
                            overflow-x: auto;
                            flex-wrap: nowrap;
                            padding-bottom: 5px;
                            justify-content: initial;
                            -webkit-overflow-scrolling: touch;
                            -ms-overflow-style: -ms-autohiding-scrollbar;

                            li {
                                width: 75px;
                                height: 75px;
                                margin: 3px;
                                flex: 0 0 auto;
                                background-size: 120px;
                                background-position: center;
                                background-repeat: no-repeat;

                                button {
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }
        }

        .product_info {
            position: relative;
            background-color: #FAFAFA;

            @media screen and (min-width:$mobile) {
                padding: 0 0 10px 20px;

                &:after {
                    top: 0;
                    left: 0;
                    z-index: -1;
                    content: '';
                    height: 100%;
                    width: 2000px;
                    position: absolute;
                    background-color: #FAFAFA;
                }
            }

            @media screen and (max-width:$mobile) {
                margin: 0 -15px 30px;
                padding: 0 15px;
            }

            .product_rate {
                display: flex;
                padding: 10px 0;

                strong {
                    display: none;
                }

                span {
                    font-size: 0;
                    width: 94px;
                    height: 16px;
                    display: block;
                    margin-right: 10px;
                    background-repeat: no-repeat;
                    background-image: url(/arquivos/stars.png);

                    &.avaliacao0 {
                        background-position: 0 0;
                        filter: grayscale(1);
                    }

                    &.avaliacao1 {
                        background-position: 0 -73px;
                    }

                    &.avaliacao2 {
                        background-position: 0 -56px;
                    }

                    &.avaliacao3 {
                        background-position: 0 -40px;
                    }

                    &.avaliacao4 {
                        background-position: 0 -20px;
                    }

                    &.avaliacao5 {
                        background-position: 0 0;
                    }
                }

                a {
                    font-size: 10px;
                    color: #8C8C8C;
                    text-decoration: underline;
                }
            }

            .product_name {
                .productName {
                    font-size: 24px;
                    font-weight: bold;

                    @media screen and (min-width:$mobile) {
                        line-height: 22px;
                    }

                    @media screen and (max-width:$mobile) {
                        font-size: 22px;
                    }
                }
            }

            .product_skus {}

            .product_price {
                margin-top: 30px;
                padding-top: 30px;
                border-top: 1px dashed #dcdcdc;

                .plugin-preco {
                    * {
                        font-size: 16px;
                        font-style: normal;
                    }

                    .valor-de,
                    .economia-de {
                        display: none !important;
                    }

                    .valor-dividido {
                        margin-bottom: 2px;
                        display: block !important;

                        >span {
                            display: flex;

                            >span {
                                font-size: 0;
                                display: flex;

                                label {
                                    margin-right: 2px;
                                    font-weight: bold;
                                    color: $cor-texto;

                                    &:after,
                                    &:before {
                                        color: $cor-texto;
                                        font-weight: normal;
                                    }

                                    &:after {
                                        font-weight: bold;
                                        content: '\00a0 de';
                                    }

                                    &:before {
                                        content: 'Em ';
                                    }
                                }
                            }

                            strong {
                                label {
                                    font-size: 20px;
                                    margin-left: 2px;
                                    color: $cor-principal;
                                }
                            }
                        }
                    }

                    .valor-por {
                        display: none !important;
                    }

                    .preco-a-vista {
                        font-size: 0;
                        display: block !important;

                        strong {
                            font-size: 16px;
                            font-weight: bold;
                            color: $cor-principal;

                            &:before,
                            &:after {
                                color: #4A4A4A;
                                font-weight: normal;
                            }

                            &:before {
                                content: 'a vista por ';
                            }

                            &:after {
                                content: ' sem juros';
                            }
                        }

                        span {
                            display: block;
                            margin-bottom: 17px;
                        }
                    }
                }
            }

            .options {
                display: flex;
                margin: 30px 0;
                align-items: center;
                justify-content: space-between;

                li {
                    .box_count {
                        width: 115px;
                        height: 35px;
                        display: flex;
                        align-items: center;
                        border: 1px solid #dcdcdc;
                        justify-content: space-between;

                        a {
                            width: 25%;
                            height: 100%;
                            color: $cor-cta;
                            font-weight: bold;
                            line-height: 35px;
                            text-align: center;
                        }

                        input {
                            width: 50%;
                            height: 100%;
                            text-align: center;
                            border-left: 1px solid #dcdcdc;
                            border-right: 1px solid #dcdcdc;
                        }
                    }

                    #add_wishlist {
                        display: flex;
                        align-items: center;
                        transition: color 300ms;

                        &.active {
                            font-size: 0;
                            color: #de3d3d;

                            &:after {
                                font-size: 15px;
                                content: 'Favorito';
                            }

                            i {
                                svg {
                                    path {
                                        fill: #de3d3d;
                                    }
                                }
                            }
                        }

                        i {
                            display: inherit;
                            margin-right: 10px;

                            svg {
                                transition: all 300ms;
                            }
                        }
                    }

                }
            }

            .buy-in-page-quantity {
                display: none !important;
            }

            .buy-button,
            .buy-in-page-button {
                width: 100%;
                height: 55px;
                font-size: 0;
                line-height: 52px;
                font-weight: bold;
                text-align: center;
                margin-bottom: 10px;
            }

            .buy-button {
                color: $vermelho;
                border: 2px solid $vermelho;

                &:after {
                    font-size: 22px;
                    content: 'Comprar e fechar pedido';
                }
            }

            .buy-in-page-button {
                color: #fff;
                background-color: $vermelho;
                box-shadow: 0px 0px 2px 1px $vermelho;

                &:after {
                    font-size: 22px;
                    content: 'Adicionar ao carrinho';
                }
            }

            #share {
                display: flex;
                margin-top: 10px;
                align-items: center;
                justify-content: flex-end;

                @media screen and (max-width:$mobile) {
                    width: 100%;
                    justify-content: center;
                }

                i {
                    display: inherit;
                    margin-left: 10px;
                }
            }

            .obs {
                display: flex;
                margin-top: 15px;
                align-items: center;

                span {
                    max-width: 80%;
                    margin-left: 10px;
                    font-style: italic;
                }
            }

            /*AVISE-ME*/
            .notifyme {
                margin-bottom: 30px;

                .notifymetitle {
                    color: $cor-principal;
                    text-transform: uppercase;
                }

                form {
                    input {
                        width: 100%;
                        height: 40px;
                        margin-top: 7px;

                        &[type="text"] {
                            text-indent: 20px;
                            border: 1px solid #dcdcdc;
                        }

                        &[type="button"] {
                            color: #fff;
                            float: right;
                            cursor: pointer;
                            max-width: 180px;
                            font-size: 20px;
                            font-weight: bold;
                            text-transform: uppercase;
                            background-color: $cor-cta;
                        }
                    }
                }

                .sku-notifyme-success {
                    font-style: normal;
                }
            }

            #calculate_frete {
                padding: 15px 0 25px;
                margin: 40px 0 20px;
                border-top: 1px dashed #dcdcdc;
                border-bottom: 1px dashed #dcdcdc;

                >p {
                    display: flex;
                    font-size: 16px;
                    font-weight: bold;
                    align-items: center;
                    margin-bottom: 10px;

                    i {
                        display: inherit;
                        margin-left: 10px;
                    }
                }

                fieldset {
                    div {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        .input {
                            width: 210px;
                            height: 40px;
                            background-color: #fff;
                            border: 1px solid #dcdcdc;

                            input {
                                height: 100%;

                                &[type="text"] {
                                    width: 65%;
                                    text-indent: 15px;
                                }

                                &[type="submit"] {
                                    width: 35%;
                                    font-weight: bold;
                                    color: $cor-principal;
                                    background-color: #fff;
                                }
                            }
                        }

                        a {
                            color: #717171;
                            text-decoration-line: underline;
                        }
                    }
                }
            }

            .toggle {
                .title {
                    cursor: pointer;
                    padding: 15px 0;
                    font-size: 16px;
                    font-weight: bold;
                    margin-bottom: 0;

                    &:after {
                        content: '+';
                        float: right;
                    }

                    &.active {
                        &:after {
                            content: '-';
                        }
                    }
                }

                .content {
                    display: none;
                    color: #999999;
                    line-height: 22px;
                    letter-spacing: 0.02em;
                }
            }
        }

        .box_compre_junto {
            margin: 50px 0 0;

            h2 {
                font-size: 30px;
                font-weight: 300;
                text-transform: uppercase;
                margin: 10px 0 20px;

                @media screen and (max-width:$mobile) {
                    text-align: center;
                }
            }

            .columns {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;

                .column {
                    &.column_1 {
                        width: 75%;

                        @media screen and (max-width:$mobile) {
                            width: 100%;
                        }

                        .pager {
                            display: none;
                        }

                        .prateleira {
                            width: 100%;

                            @media screen and (max-width:$mobile) {
                                padding-bottom: 15px;
                            }

                            h2 {
                                display: none;
                            }

                            /* width */
                            ::-webkit-scrollbar {
                                width: 20px;
                                height: 9px;
                            }

                            /* Track */
                            ::-webkit-scrollbar-track {
                                border-radius: 10px;
                            }

                            /* Handle */
                            ::-webkit-scrollbar-thumb {
                                background-color: $cor-principal;
                                border-radius: 10px;
                            }

                            ul {
                                @media screen and (max-width:$mobile) {
                                    flex-wrap: nowrap;
                                    overflow-x: auto;
                                    margin-right: -15px;
                                    justify-content: initial;
                                    -webkit-overflow-scrolling: touch;
                                    -ms-overflow-style: -ms-autohiding-scrollbar;
                                }

                                li {
                                    @media screen and (min-width:$mobile) {
                                        width: calc(100% / 3) !important;

                                        &:last-child {
                                            article {
                                                &:after {
                                                    content: '=';
                                                }
                                            }
                                        }
                                    }

                                    @media screen and (max-width:$mobile) {
                                        width: 250px;
                                        flex: 0 0 auto;
                                        margin-right: 10px;
                                    }

                                    article {
                                        box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15);

                                        @media screen and (min-width:$mobile) {
                                            &:after {
                                                content: '+';
                                                position: absolute;
                                                top: 10%;
                                                right: -17px;
                                                font-size: 22px;
                                                font-weight: bold;
                                                color: $cor-principal;
                                            }
                                        }
                                    }

                                    .add {
                                        width: 100%;
                                        height: 40px;
                                        line-height: 40px;
                                        font-size: 18px;
                                        font-weight: 400;
                                        color: #383838;
                                        margin-top: 10px;
                                        text-align: center;
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;
                                        transition: all 300ms;
                                        border: 1px solid #4d4d4d;

                                        &.active {
                                            color: #fff;
                                            pointer-events: none;
                                            background-color: #383838;

                                            &:before {
                                                content: '';
                                                width: 10px;
                                                height: 15px;
                                                display: block;
                                                border-right: 2px solid white;
                                                border-bottom: 2px solid white;
                                                transform: rotate(45deg);
                                                margin-right: 10px;
                                                margin-top: -4px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }

                    &.column_2 {
                        width: 25%;
                        padding-left: 23px;

                        @media screen and (max-width:$mobile) {
                            width: 100%;
                            padding-left: 0;
                        }

                        article {
                            padding: 20px;
                            text-align: center;
                            background-color: #f5f5f5;

                            p {
                                font-size: 18px;
                                font-weight: bold;

                                strong {
                                    display: block;
                                    color: $cor-secundaria;

                                    &:empty {
                                        font-size: 0;

                                        &:after {
                                            font-size: 18px;
                                            content: 'Calculando...';
                                        }
                                    }
                                }
                            }

                            .buy {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                width: 90%;
                                height: 45px;
                                color: #fff;
                                font-size: 14px;
                                font-weight: 700;
                                border-radius: 50px;
                                text-transform: uppercase;
                                background-color: $cor-cta;
                                margin: 30px auto -40px;
                                transition: opacity 300ms;

                                &.disabled {
                                    opacity: 0.7;
                                    pointer-events: none;
                                }

                                &[href="#"] {
                                    font-size: 0;
                                    opacity: 0.6;
                                    pointer-events: none;

                                    &:after {
                                        content: 'Adicione...';
                                        font-size: 14px;
                                    }
                                }

                                i {
                                    margin-right: 10px;

                                    svg {
                                        width: 25px;
                                        height: 25px;

                                        path {
                                            stroke: #fff;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}