@media (min-width: 1200px) {
	.container {
		width: 1170px;
		max-width: 100%;
	}
}

@mixin clearfix {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

section.bg {
	background-color: #fafafa;
}

#ajaxBusy {
	display: none !important;
}

ul.ui-autocomplete {
	padding: 10px;
	display: block;
	max-width: 450px;
	background-color: #fff;

	li {
		a {
			display: flex;
			align-items: center;
	
			img {
				width: 40px;
				height: 40px;
				margin-right: 10px;
			}
		}

		&:not(:last-child) {
			margin-bottom: 10px;
		}

		&:first-child {
			font-weight: bold;
			padding-bottom: 10px;
			border-bottom: 1px dashed #dcdcdc;
		}
	}
}

.desktop {
	@media screen and (max-width: $mobile) {
		display: none;
	}
}

.mobile {
	display: none;

	@media screen and (max-width: $mobile) {
		display: block !important;
	}
}

@mixin close {
	color: #fff;
	width: 30px;
	height: 30px;
	display: block;
	font-size: 20px;
	font-weight: 700;
	line-height: 30px;
	text-align: center;
	background-color: #ff5316;
}

#overlay {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	background: rgba(130, 130, 130, 0.5);
	position: fixed;
	transition: opacity .5s ease;
	visibility: hidden;
	z-index: 11;

	&.active {
		opacity: 1;
		visibility: visible;
	}
}

.blink_me {
	animation: blinker 1s linear infinite;
}

@keyframes blinker {
	50% {
		opacity: 0;
	}
}

.text-center {
	text-align: center;
}

.dis-none {
	display: none;
}

img {
	max-width: 100%;
	height: auto;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type="number"] {
	-moz-appearance: textfield;
}

input[type="submit"] {
	appearance: none;
	-o-appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
}

input[type="submit"].disabled,
input[value="Aguarde..."] {
	opacity: 0.6;
	pointer-events: none;
}

/*//////////////////////////////////////////////////////////////////
[ REBOOT ]*/
*,
*:before,
*:after {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body {
	font-size: 15px;
	color: $cor-texto;
	box-sizing: border-box;
	font-family: $font-principal;

	@media screen and (min-width:$mobile) {
		overflow-x: hidden;
	}

	&.active {
		overflow: hidden;
	}
}

address {
	font-style: normal;
}

strong {
	font-weight: bold;
}

a {
	color: inherit;
	transition: color 0.5s;
	text-decoration: none;

	&:focus {
		outline: none;
	}

	&:hover {
		text-decoration: none;
		color: $cor-principal;
	}
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
	margin: 0;
	padding: 0;
}

ol,
ul {
	list-style: none;
}

/*---------------------------------------------*/
fieldset,
input,
textarea,
label {
	border: none;
	outline: none;
	display: block;
}

/*---------------------------------------------*/
button {
	border: none;
	outline: none;
	cursor: pointer;
	background: transparent;

	&:focus {
		outline: none;
	}
}

iframe {
	border: none;
}