$font-principal: 'Lato', sans-serif;
$font-secundaria: 'Montserrat', sans-serif;

$branco: #fff;
$cor-cta: #51C828;
$laranja: #E78327;
$vermelho: #DE3D3D;
$cor-texto: #5E5E5E;
$cor-principal: #35D0BE;
$cor-secundaria: #6D59E7;
$cor-principal-escuro: #13A795;
$cor-secundaria-escuro: #272759;


$mobile: 812px;
$iphone5: 360px;
$tablet: 1024px;
$small-monitor: 1366px;
$tablet-landscape: 768px;