.wishlist {
    h1 {
        margin: 40px 0;
    }

    #list_wishlist {
        li {
            @media screen and (max-width:$mobile) {
                max-width: calc(100% / 2);
            }
        }
    }
}